body { font-family: sans-serif; padding: 20px; }
form, table { margin-bottom: 20px; }
table { border-collapse: collapse; width: 100%; }
td, th { border: 1px solid #ccc; padding: 8px; }
input[type="text"] { width: 200px; } /* alle Eingabefelder gleich breit */
input[type="number"] { width: 100px; } /* alle Eingabefelder gleich breit */